affine
attrs
certifi
chardet
click
click-plugins
cligj
configparser
coverage
cycler
decorator
ExifRead
Fiona
fonttools
future
GDAL
geographiclib
geopandas
httplib2
idna
importlib-metadata
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
mock
munch
networkx
nose2
numpy
OWSLib
packaging
pandas
Pillow
plotly
ply
psycopg2-binary
Pygments
PyMySQL
pyodbc
PyOpenGL
pyparsing
pypiwin32
pyproj
PyQt5
PyQt5-sip
pyserial
python-dateutil
pytz
pywin32
PyYAML
rasterio
requests
retrying
scipy
shapely
shutils
simplejson
six
snuggs
toml
tzdata
urllib3
xlrd
xlwt
zipp
